@import '../../styles/variables.scss';

.details {
  max-width: 40%;
  margin: 0 auto;

  &__shareIcon {
    text-align: right;
    cursor: pointer;

    &:hover {
      color: $secondary;
    }
  }
}

.contactOwnerLink {
  color: $primary;

  &:hover {
    color: $white;
  }
}

.sliderContainer {
  width: 50%;
  height: 40vh;
  margin: 10px auto;
}