@import '../../styles/variables.scss';

.profile {
  display: flex;
  justify-content: space-between;
}

.userEditIcon {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  font-size: 1.3rem;
  cursor: pointer;
  color: $dark;
}

.sellOrRent {
  text-align: center;
  padding: 10px 0;
  margin-bottom: 20px;

}

.sellOrRent h4 {
  width: 50%;
  margin: 0 auto;
  padding: 10px;
  font-size: 1.6rem;
  border: 1px solid $primary;
  border-radius: 22px;
  color: $primary;
}

.sellOrRent h4:hover {
  color: $white;
  background-color: $primary;
  transition: 0.3s all ease-in;
}