.wrapper {
  width: 60%;
  margin: 0 auto;


  &__profile {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    padding: 10px 0;
  }

  &__profile__title {
    color: #fff;
  }

  &__details p {
    display: inline-block;
  }

  &__details__change {
    margin-left: 10px;
    color: #000;
    background-color: #eee;
    padding: 2px 4px;
    border-radius: 4px;
    border: 1px solid black;
    margin-bottom: 10px;
    cursor: pointer;
  }
}