@import './variables.scss';



h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $Roboto;

}

body {
  width: 100%;
  font-family: $RobotoMono;
  background-color: $white;
  color: $dark;
}

#root {
  height: 100vh;
}

.container {
  max-width: 1920px;
  width: 80%;
  height: 92vh;
  margin: 0 auto;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */