@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800&display=swap');

// Fonts
$Barlow: 'Barlow', sans-serif;

// Colors
$primary: #202C45;
$secondary: #E81C2E;
$white: #ffffff;
$dark: #444444;

@mixin breakpoint($point) {
  @if $point ==md {

    // 768px
    @media (min-width: 768px) {
      @content;
    }
  }
}