@import '../../styles/variables.scss';

.header {
  background-color: $primary-clr;
  width: 100%;
  min-width: 280px;
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 1rem;

  @include breakpoint(md) {
    padding: 0 3rem;
  }

  transition: 0.3s ease all;

  &__content {
    color: $secondary-clr;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 8vh;
    position: relative;
    z-index: 100;
  }

  &__content__logo {
    font-size: 1.6rem;
  }

  &__content__nav {
    top: 0;
    bottom: 0;
    right: 100%;
    width: 100%;
    height: 100vh;
    position: fixed;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $dark;
    transform: translate(0);
    transition: 0.3s ease transform;

    @include breakpoint(md) {
      transform: none;
      flex-direction: row;
      background: transparent;
      width: auto;
      height: 100%;
      position: static;
    }

    ul {
      display: flex;
      flex-direction: column;
      margin-bottom: 32px;

      @include breakpoint(md) {
        flex-direction: row;
        align-items: center;
        margin-bottom: 0;
      }

      li a {
        color: $secondary-clr;
        border-radius: 1px solid $secondary-clr;
        font-size: 1.2rem;

        &:not(:last-child) {
          margin-right: 16px;
        }
      }



    }

    button {
      background-color: transparent;
      border: none;
      border-radius: 6px;
      padding: 2px 12px;
      font-size: 1.2rem;
      cursor: pointer;
    }

    &.isMenu {
      transform: translate(100%);
    }

  }

  &__content__toggle {
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 2rem;
    transition: 0.3s ease all;
    position: relative;

    &:hover {
      color: $secondary-clr;
    }

    @include breakpoint(md) {
      display: none;
    }
  }
}